[2019-01-29 02:32] jblindsay opened #1 "CRAN package is stuck on inspect"
Hi Qiusheng,
I've just tried to install the Whitebox R package and received an error. When I checked to see the [CRAN package page](https://cransays.itsalocke.com/articles/dashboard.html), it appears to be hung on 'inspect'. Thanks again for taking the time to create this. I can't wait to test it out!

[2019-01-29 02:48] giswqs commented on #1
Hi John, I submitted it to CRAN last week, and it is still waiting for manual inspection by CRAN maintainers. Check the status [here](https://cransays.itsalocke.com/articles/dashboard.html). I guess it should be available for installation through CRAN later this week. For the time being, you can use the following to install:

[code]

Thank to your well documented [whitebox_tools.py](https://github

[2019-01-29 15:07] jblindsay opened #2 "Math tools with logical operator names"
Note that the Python interface for WhiteboxTools needed to violate the snake-case convention for function names for the Whitebox tools with logical operators (And, Not, Or) because Python uses these as keywords (and, not, or). I believe *R* uses the more conventional form for logical operators (&&, !, ||) and so there is no potential for name collisions. Can we change these function names to their

[2019-01-29 16:09] giswqs commented on #2
Thank you for pointing this out! I have changed these three logical functions to snake case. GitHub repo has been updated. The change will be reflected in our next CRAN release, as the [CRAN policy](http://r-pkgs.had.co.nz/release.html#cran-policies) suggests a new version once every 1-2 months at most.

[2019-02-01 18:15] giswqs commented on #1
The CRAN reviewing process is a bit slow. I just released whitebox to [R-Forge](https://r-forge.r-project.org/R/?group_id=2337). It can be installed using the follow command. Hope it will also be availabe on CRAN soon.

`install.packages("whitebox", repos="http://R-Forge.R-project.org")`

[2019-02-03 17:32] giswqs commented on #1
I just received an email from a CRAN team member. Need to add a few code examples. I am working on it.

[code]

[2019-02-07 18:48] giswqs commented on #1
Finally, the package is now available on [CRAN](https://cran.r-project.org/package=whitebox). It might take a few hours for Windows and OSX binaries to build.

[2019-02-07 20:37] #2 closed

[2019-02-12 16:29] giswqs opened #4 "CRAN download issue"
The **whitebox** R package has been temporarily taken down from CRAN due to issues related to downloading WhiteboxTools binaries during package installation. See below the most recent message I received from a CRAN maintainer. I am not quite sure how to resolve these issues yet. Any help will be appreciated. @jsta

[code]

[2019-02-12 18:48] jsta commented on #4
I think they take issue with downloading without first getting user permission. If you download in `.onAttach` users don't have the option to decline. CRAN wants you to check if whitebox is installed in `.onLoad` then ask permission to download if missing.

[2019-02-12 22:00] jsta commented on #4
I would look into getting `whitebox` on [rwinlib](https://github.com/rwinlib/) and install the way that `sf` installs `gdal`:

* https://github.com/r-spatial/sf/blob/master/README.md#windows

* https://github.com/r-spatial/sf/blob/master/tools/winlibs.R

[2019-02-12 22:09] giswqs commented on #4
@jsta Many thanks for the suggestions and links. I will definitely look into it.

[2019-02-13 20:21] giswqs commented on #4
@jsta I have changed the `.onAttach` function to `.onLoad`. However, if the installation becomes interactive (i.e., asking user permission to download the WhiteboxTools binaries), I feel that the package would fail all automated tests on CRAN. The WBT binary is required to run the [test functions](https://github.com/giswqs/whiteboxR/tree/master/tests/testthat). Do you happen to know any other CRAN

[2019-02-27 21:18] jpshanno opened #6 "Error when calling whitebox::tool"
Hi, thanks for the work on this package, it's a great resource! I was trying it out on a problem today and found that if you call a function with out loading the library, e.g. `whitebox::idw_interpolation`, the system call that gets created errors out. It looks like the problem is here in the function code:
[code]
which doesn't remove the 'whitebox::' from the tool name. I created this workaround

[2019-02-27 21:56] giswqs commented on #6
@jpshanno Many thanks for reporting the issue and providing the sample solution! I have updated the package with your solution. I believe the errors have been fixed for all the tools. You can install the latest update from GitHub using the code below. I will update the package on [R-Forge](https://r-forge.r-project.org/R/?group_id=2337) shortly. However, I don't when the CRAN package will get upda

[2019-02-27 21:56] #6 closed

[2019-03-11 22:56] geoendemics opened #7 "status 101 when trying to use whitebox in R (windows)"
Dear Wu
I downloaded the whitebox package for R on a windows machine. Everytime,  I try to run a function i R I keep getting this error

[2] "* Welcome to FeaturePreservingDenoise *"
[3] "***************************************"
[4] "Reading data..."
[5] "thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src\\libcore\\option.rs:355:21"
[6] "note: Run with `RUST_BACKTRACE=1`

[2019-03-11 23:30] giswqs commented on #7
What raster data format are you using? I just tested the `FeaturePreservingDenoise` tool using the following code without any problem. Could you also try the following sample code to see if it can run successfully? If this sample code works fine, then the error your reported was probably caused by your raster data.

Sample code:
[code]
Output:
`[1] "feature_preserving_denoise - Elapsed Time (exclu

[2019-04-03 22:36] geoendemics commented on #7
Thanks for  your response
I am going to give a try the next days. Sorry for late response. was busy with other projects.

[2019-04-16 18:51] geoendemics commented on #7
Dear Wu
Thanks a lot for  your quick response. I run the command as you  explained and it worked smoothly. Still, I have a question. The syntax  refers to the  **system.file** function. Does it mean that my input files  always have to be placed at "the extdata" to be able to access the whitebox package.?
Best regards
Rengifo

[2019-04-16 19:01] giswqs commented on #7
@geoendemics The input files can be from any file paths.

`dem <- "/path/to/whatever.tif"`

[2019-04-16 19:40] geoendemics commented on #7
thanks Wu !
I am pretty new to R.
Rengifo

[2019-04-16 19:56] giswqs commented on #7
@geoendemics Glad to hear that this issue has been resolved. Feel free to open new issues if you encounter problems with the whitebox R package.

[2019-04-16 19:56] #7 closed

[2019-04-16 22:08] geoendemics commented on #7
Dear Wu, Finally I go the impoundment index working in Arcgis 10.6,  but  in R I get the following error:
Warning message:
In system(args2, intern = TRUE) :
  running command '\\nve.no/fil/home/rzo/Dokumenter/R/win-library/3.5/whitebox/WBT/whitebox_tools.exe --run=impoundment_index  --dem=N:/Prosjekter/Elvevifter/6_data_c/FinalDTM/utvikDTM.tif --output=N:/Prosjekter/Elvevifter/6_data_c/FinalDTM/im

[2019-04-16 22:37] giswqs commented on #7
@geoendemics I guess you are using an outdated version of whiteboxR. The impoundment function has been changed to `impoundment_size_index()`. Please run the following code to upgrade the package.

[code]

[2019-04-22 20:06] geoendemics commented on #7
@giswqs
thanks a lot for your support I tried whiteboxR in both, linux and windows and they both worked  perfectly. By the way much quicker than ArcGIS.

[2019-04-23 07:16] geoendemics opened #9 "whiteboxR memory allocation"
Hi  Guys , I hope you had a nice eastern.  I tried the slope tool in R and got the message below.  I am trying to calculate the slope of a very large DEM (75 735 714 kb). Is there a work around for this problem.?
thanks in advance

slope(dem, output,zfactor=1, verbose_mode = TRUE)
[1] "********************"                          "* Welcome to Slope *"
[3] "********************"

[2019-04-23 11:26] jblindsay commented on #9
@geoendemics If the size of your data in memory and with all of the temporary rasters that are stored (in the case of the Slope tool, you need to have the input DEM and output file in memory, both represented as 64-bit floats) exceeds the RAM of your computing system, you will have a memory allocation issue. Your DEM is 75 GB in size, and is likely storing elevations as 32-bit floats. So, you will

[2019-05-25 16:29] #9 closed

[2019-07-18 22:22] CCheCastaldo opened #11 "fill depression output differs between whiteboxR and whitebox-tools"
Hi Wu, I am having an issue where the output from fill_depressions with whiteboxR differs significantly from FillDepressions with whitebox tools (with the latter looking correct, while the whiteboxR output has extremely large nonsensical values). I have attached some code comparing the fill depression tool using the [USGS Toutle River 2009 DEM](https://pubs.er.usgs.gov/publication/ds904), specific

[2019-07-18 23:00] giswqs commented on #11
The whiteboxR package uses the WBT executable of WhiteboxTools v0.16.0 released on May 24, 2019. Dr. John Lindsay (@jblindsay) has made some updates to whitebox-tools since then. I am not sure if he updates the Fill Depression tool. A temporary fix for you would be to replace the WBT executable for whiteboxR (e.g., `~/R/x86_64-pc-linux-gnu-library/3.5/whitebox/WBT/`) with the new executable (e.g.,

[2019-07-19 00:28] CCheCastaldo commented on #11
Thanks for your help. I installed whiteboxR from your GitHub repo and afterwards had to run `wb_init()`, which automatically downloaded and installed a WBT binary to:

`/Library/Frameworks/R.framework/Versions/3.5/Resources/library/whitebox/WBT/whitebox_tools`

I can see this by running `wbt_exe_path()` in R. I then replaced the `whitebox_tools` executable in this directory with the one I had comp

[2019-07-19 00:53] jblindsay commented on #11
Earlier today I uploaded a change to both the FillDepressions and BreachDepressions tools to output 64-bit floating-point rasters. This fixes a bug in which the small number that is used to fix flat points is so small that if the data are stored in the more usual 32-bit format, strange things can happen. If you've compiled your version of WhiteboxTools very recently, this likely accounts for the d

[2019-07-19 17:51] CCheCastaldo commented on #11
I compiled WhiteboxTools about two weeks ago and noticed the difference between the command line FillDepression and whiteboxR fill_depression right away. Also, when I replace the WBT executable that is installed with whiteboxR with the rust executable from WhiteboxTools (which should make the outputs identical if the cause is the bug fix you mention) the differences persists. So I am not sure that

[2019-07-20 21:10] giswqs commented on #11
@CCheCastaldo Thanks for reporting this issue! I found that this is a major bug of the R package. Some logical parameters were not passed correctly to the WBT executable. In your case, the `--fix_flats` flag was always passed to the executable even though you set `fix_flats = FALSE` in the R function. I have committed [code](https://github.com/giswqs/whiteboxR/commit/68d897a30fd101de162f229f012eeb

[2019-07-20 21:10] #11 closed

[2019-07-21 18:56] CCheCastaldo commented on #11
Thanks so much for fixing this bug so quickly.

[2019-09-16 07:28] Robinlovelace commented on #4
It is possible to write tests that contain if statements. E.g.:

[code]

[2019-09-16 21:34] giswqs commented on #4
@Robinlovelace See below the message I got from the CRAN maintainer back in March 2019. Unfortunately, I have not been able to resolve all the issues. Therefore, I could no longer submit the whiteboxR package to CRAN.

[code]

[2019-09-16 22:37] Robinlovelace commented on #4
Thanks for sharing @giswqs. I think these problems can be solved by experienced R programmers / software developers familiar with CRAN. But more experienced than me. I'll have a think about it and may ask others for their views. Sorry I don't have other ideas at this stage...

[2019-10-06 18:35] tylermorganwall opened #13 "Request: Reduce conflicts with base R functions"
Hi,

I am prepping a masterclass for GIS students and have been using the whitebox package to help clean, manipulate, and analyze lidar and topographic data. I have been very impressed by the breadth and depth of functionality that the package provides. The functions provided by the underlying whitebox package provides much needed capability to the R GIS ecosystem.

I do have some suggestions, how

[2019-10-06 21:49] giswqs commented on #13
@tylermorganwall Thank you for your suggestion! I have added prefix `wbt_` to all functions. Please reinstall the package and let me know if you find any bugs. Thanks.

[code]

[2019-10-08 03:35] tylermorganwall commented on #13
Awesome, thanks for the quick response!

[2019-10-08 03:35] #13 closed

[2019-10-31 06:00] estebangatillo commented on #7
Hi, I'm having this same problem! I've followed all the directions here, uninstalled/reinstalled whitebox, tried different machines - no luck. I'm trying to run the `wbt_d8_pointer` tool on a normail .tif raster.

Here's my code:
[code]
Here are the results:
`> d8_test <- wbt_d8_pointer(dem10, output, esri_pntr = TRUE, verbose_mode = TRUE)
Warning message:
In system(args2, intern = TRUE) :
  runni

[2019-10-31 10:37] jblindsay commented on #7
@estebangatillo Yes, I'm aware of this issue. In my attempt to fix the library, specifically tools with Boolean parameters, to handle the case of --flag=False, I broke the case of --flag=True. I've actually already posted a fix for this in the WhiteboxTools repository. The fix for the R front-end will require that I publish v1.0.2. I'm hoping to do so either today or tomorrow. I'm very sorry for t

[2019-11-01 18:55] giswqs commented on #7
@estebangatillo Thanks to Dr. John Lindsay's [WhiteboxTools v1.0.2 release](https://github.com/jblindsay/whitebox-tools/releases/tag/v1.0.2), I have updated the [whitebox R package](https://github.com/giswqs/whiteboxR/commit/4d87ee7bcae349c3ebf99d471c70afc331eea221) accordingly. Please update your R package and try again. I tested your code. It works now.

[2019-11-02 14:42] estebangatillo commented on #7
Thanks you @giswqs and @jblindsay for the help! Unfortunately, even with 1.0.2 I'm still getting the same error.
[code]
Just to be sure I'm using the right version:
[code]
Do you have any other troubleshooting recommendations? Perhaps I need a specific GCS?
Thanks again.

[2019-11-02 14:47] jblindsay commented on #7
@estebangatillo I haven't used the R frontend extensively but I don't believe you can specify an R 'raster' (dem in your case) as an input parameter to a WhiteboxTools function. It should just take in a string. Please see [here](https://jblindsay.github.io/wbt_book/r_interface.html)

[2019-11-02 14:56] giswqs commented on #7
Could you try the following example? I just tried it on both Windows and Linux, it works fine. As John mentioned, file input to a WhiteboxTools function should be a file path, not an R raster.

[code]

[2019-11-07 17:48] estebangatillo commented on #7
I was having projection issues with my dem, I corrected the issue, ran the tools and got a result! Thank you for the help. However, output from streamslopecontinuous has values ranging from -88 to 89. I'm trying to figure out how to interpret these values and/or what I did wrong. I used FlowAccumulationFullWorkflow to generate the input rasters for streamslopecontinuous. I used extractstreams for

[2019-11-08 17:52] giswqs commented on #7
@estebangatillo It seems your issue is no longer caused by the R front-end. I would suggest you [open an issue on the whitebox-tools repo](https://github.com/jblindsay/whitebox-tools/issues) so that Dr. John Lindsay can further investigate the issue when he has time.

[2020-01-14 03:50] reesemcardle commented on #7
WhiteboxTools binary is located at:  /Library/Frameworks/R.framework/Versions/3.6/Resources/library/whitebox/WBT/whitebox_tools
You can now start using whitebox

Error in impoundment_size_index(dem, output, damlength = 20, out_type = "depth",  :
  could not find function "impoundment_size_index"

[1] "WhiteboxTools v1.1.0 by Dr. John B. Lindsay (c) 2017-2019"
[2] ""
[3] "WhiteboxTools is an advanc

[2020-01-14 04:33] giswqs commented on #7
Since the last release, all WBT functions in R now have a prefix `wbt_`, so please call the function using `wbt_impoundment_size_index()`

[2020-05-13 02:12] mismaielahmed opened #17 "Cannot set working directory in Whitebox package in R"
The working directory cannot be set when using the package in R.
There is a function to set the working directory in the python library and even when running from terminal/cmd.
Is there any function to do this in R?

[2020-05-13 19:51] giswqs commented on #17
You can set the Working Directory in RStudio, then you should be able to use relative file paths when calling WBT functions.

![](http://www.sthda.com/sthda/RDoc/images/rstudio-change-working-directory.png)

[2020-05-14 09:32] mismaielahmed commented on #17
I am doing that already. But when I use the whiteboxtools from the cmd/terminal, I can explicitly define the working directory (using --wd command) and all output is written in that directory.
It would be useful if such a command exists in the R package because it is quite annoying to use the relative path each time you need to run a function.
Would that be possible?

[2020-05-15 18:33] giswqs commented on #17
Yes, I believe it is possible. Let me look into it.

[2020-05-15 19:55] giswqs commented on #17
I have added a `wd` parameter for all tools. Please install the latest version from GitHub. It seems working properly on my end. Please test it and let me know if you have any issues.

[code]

![](https://i.imgur.com/MVCl6AE.png)

[2020-05-15 21:53] mismaielahmed commented on #17
It works fine.
Thank you so much for your response and efforts.

[2020-05-15 21:53] #17 closed

[2020-06-11 06:16] fredbailleul opened #19 "status 101 when trying to use whitebox in R (windows)"
Hi there
I'm trying to use the function 'wbt_natural_neighbour_interpolation' from the package whitebox but it doesn't work properly. I consistently get the following message:
[1] "********************************************"
[2] "* Welcome to NaturalNeighbourInterpolation *"
[3] "********************************************"
[4] "thread 'main' panicked at 'called `Result::unwrap()` on an `Err` v

[2020-06-15 09:25] Antoine-CSQN opened #20 "wbt_isobasins() crashed for any size >= 1e5, works well under"
Hello,
First of all thank you for this whitebox and its interface in R. I think it's a good tool for reproductible research in GIS, and it certainly makes some fastidious work with rgdal and raster easier.

I found what I think is a bug and I have no competence to fix it as I don't understand Rust.
When I try the xome
[code]

[2] "note: run with `RUST_BACKTRACE=1` environment variable to display a

[2020-06-15 10:58] jblindsay commented on #20
Hi Antoine,
I would suggest leaving the './' out of the file names. Please give that a try and let us know if it works.

[2020-06-15 13:27] Antoine-CSQN commented on #20
It throws the exact same error.
Problem is not with the syntax, it is with the value of the "size" argument.

[2020-06-15 14:13] jblindsay commented on #20
I just ran the Isobasins tool using the WhiteboxTools Runner and the Vermont test DEM and it did not throw any error and the output was logical. So I can confirm that this is not an error with the WhiteboxTools backend, but likely lies with the R front-end.

[2020-06-15 14:17] jblindsay commented on #20
What happens when you use the non-scientific format (i.e. 1e5 = 100000) as the size parameter. I imagine that the R frontend passes parameters to the WBT backend as strings. Rust likely does not like parsing integer values in the scientific form, but I'll need to check into that.

[2020-06-15 14:40] giswqs commented on #20
The error is likely caused by the scientific notation. Here are the R scripts behind the tool.

https://github.com/giswqs/whiteboxR/blob/master/R/hydro_analysis.R#L1047
[code]

https://github.com/giswqs/whiteboxR/blob/master/R/wbt.R#L273:1
[code]

[2020-06-15 16:06] Antoine-CSQN commented on #20
Thanks for your attention but it still does not resolve the problem.
I tried :
`wbt_isobasins(dem = "raster/whitebox/breached.tif", output = "raster/whitebox/isobas_10km.tif", size = 100000, wd = NULL, verbose_mode = TRUE)`

And it throwed the same error

It is really a threshold error as
`wbt_isobasins(dem = "raster/whitebox/breached.tif", output = "raster/whitebox/isobas_9pt99km.tif", size = 999

[2020-07-03 18:04] junzhang55 commented on #7
I've got the same error of status 101 as shown below and tried all the solution in this page but still got the error. I'm using the newest whitebox "WhiteboxTools v1.3.0 by Dr. John B. Lindsay (c) 2017-2019".

thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Custom { kind: InvalidInput, error: "Invalid code 202, expected code <= 1FF" }', src/raster/geotiff/mod.rs:1113:50
not

[2020-07-03 19:35] giswqs commented on #7
@junzhang55 Try the following script to see if it works. If yes, that mean you did not specify the file path correctly. Try using absolute path rather than relative path with `./`

[code]

[2020-07-03 19:45] junzhang55 commented on #7
Thanks for the quick reply! However, the error still exists, here is the outputs. Even with the full path DEM <- system.file("extdata", "/Users/junzhang/Documents/Topography/Grid_setup/250m/250mPF_DEMmin_NA.tif",package = "whitebox"), I still got DEM="".

thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src/raster/mod.rs:1261:35
note: run with `RUST_BACKTRACE=1` environment

[2020-07-03 19:55] giswqs commented on #19
Did you specify the `field` attribute to be used for interpolation? I just tested the tool on my computer, and it worked fine.

[code]
![](https://i.imgur.com/D2FT88G.png)

[2020-07-03 20:04] giswqs commented on #7
You should not use `system.file()`. That's for finding the package sample data location. Simply use
`DEM <- "/Users/junzhang/Documents/Topography/Grid_setup/250m/250mPF_DEMmin_NA.tif"`

[2020-07-03 23:11] junzhang55 commented on #7
It's still the same. I'm using macOS Mojave, does it matter with systems?

thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Custom { kind: InvalidInput, error: "Invalid code 202, expected code <= 1FF" }', src/raster/geotiff/mod.rs:1113:50
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
[1] "*****************************************" "* Welcome t

[2020-07-03 23:30] giswqs commented on #7
The error you encountered was probably caused by your GeoTIFF file. Try converting the GeoTIFF to other formats, such as ESRI (ArcGIS) ASCII and binary (.flt & .hdr). Hopefully it will resolve the issue.

See https://github.com/jblindsay/whitebox-tools/issues/98

[2020-07-03 23:31] junzhang55 commented on #7
Thanks, I will give a shot.

[2020-07-06 04:30] junzhang55 commented on #7
Hi Dr Wu, you're right! It's the format problem, I simply changed my GeoTiff to float64 and it worked! Although I don't know why it doesn't work with float32, I'm still very happy to have the problem solved. Thanks for your help!!!

[2020-07-15 19:35] jblindsay commented on #7
I've run into this same "Invalid code 202, expected code <= 1FF" error myself recently. I've tracked it down to the LZW compression library that I use in WhiteboxTools' GeoTIFF reader. I'll see what I can do to fix it. Once again, the GeoTIFF file format, in all its horrible complexity, has become the bane of my existence. I need to support GeoTIFFs in WBT because it is ubiquitous, but at the same

[2020-07-15 19:57] giswqs commented on #7
@jblindsay I totally agree with you. It would be an enormous task to implement everything from scratch in order to provide full support for GeoTIFF. Users can use GDAL or other third-party libraries/packages to convert data format from time to time if needed.

[2020-09-07 06:41] ns-1m opened #22 "Examples in WhiteboxR (Not issue)"
Hi,

I am glad that there is a support for R for Whitebox.

However, I found out the help for Whitebox does not include examples how to use the usage especially in LiDAR Tools.

It would have been nice if there is examples how to use the "usage".

Thanks.

Noli

P.S. lidR package has very good examples. It has a lot of LiDAR data as well.

Probably, LiDAR data from lidR can be used for the example

[2020-09-07 14:18] giswqs commented on #22
Check out the [LiDAR tutorial](https://jblindsay.github.io/wbt_book/tutorials/lidar.html) from the [WhiteboxTools User Manual](https://jblindsay.github.io/wbt_book).

[2020-09-07 19:17] ns-1m commented on #22
Any other examples in using Whitebox in R aside from this https://jblindsay.github.io/wbt_book/r_interface.html

[code]

It seems only Python and Command-line in Tutorial and User Manual.

How to see Whitebox R Tutorials.

Thanks.

[2020-09-11 16:28] laurencehawker opened #23 "Setting raster compression"
Hi,

I was wondering how/if it is possible to set raster compression? I believe in the Python version there is a ``wbt.set_compress_rasters(True)`` option.
I have been using the mean_filter tool which has been great but the output rasters are huge (e.g. 1.4Gb for a 20,000x20,000 raster which results in a raster full of nodata values). This is for a Float32 raster with TIFFTAG_SOFTWARE=WhiteboxTool

[2020-09-11 20:57] giswqs commented on #23
Thank you for your suggestion. I have added the `compress_rasters` flag to every tool. Please test it and let me know how it works. Thanks.

[code]

https://giswqs.github.io/whiteboxR/reference/wbt_mean_filter.html

[2020-09-12 13:56] laurencehawker commented on #23
Hi,
``compress_rasters`` works well. Thanks for the addition!
I am still having problems with wbt_mean_filter returning all NoData values for my 20kx20k raster. wbt_median_filter works so possibly a memory issue. I can open a separate issue if need be.

[2020-09-12 14:04] giswqs commented on #23
Reading and writing data are handled by the backend [whitebox-tools](https://github.com/jblindsay/whitebox-tools). You can open an issue [here](https://github.com/jblindsay/whitebox-tools/issues) if needed.

[2020-09-12 14:06] #23 closed

[2020-09-12 14:07] #19 closed

[2020-09-24 17:51] MIsmlAhmed opened #24 "R package provides different results than Whitebox GAT for watershed function"
Hi,

I have a D8 flow pointer and a set of pour points/areas in the GeoTIFF format.

When I try to run the watershed function using the R package, it provides different output than that of the Whitebox GAT when using the same input for both approaches.

The resulting watershed from the Whitebox GAT looks reasonable, whereas the R package result does not make sense and it ignores some parts of the

[2020-09-26 15:27] giswqs commented on #24
Both `whitebox-python` and `whiteboxR` are just the frontends of whitebox-tools. You might want to open an issue on the computing backend [whitebox-tools](https://github.com/jblindsay/whitebox-tools/issues) repo.

[2020-09-26 15:27] #24 closed

[2020-11-22 16:12] akersayin opened #25 "Where is my fault?"
I try to learn WhiteBox usage in R. But I cannot succeed even an easy analysis like below. So, what is my fault?

My codes,

library(sp)
library(raster)
library(whitebox)
dem <- raster("dem.tif")
output <- "D:/R/WTB/slope.tif"
slope2 <- wbt_slope(dem, output, units = "degrees")

Results,

Warning message:
In system(args2, intern = TRUE) :
  'C:/Users/KEMAL/Documents/R/win-library/4.0/whitebox/WBT/

[2020-11-22 16:53] giswqs commented on #25
Input files to wbt should be file paths to your data, not raster("dem.tif").

[code]

[2020-11-22 18:03] akersayin commented on #25
Dear @giswqs ,
I passed the first step. :)
I created "slope" and "flow accumulation" data to "stream power index" analysis. But now, I got this error.

My codes,
library(whitebox)
dem <- system.file("extdata", "DEM.tif", package = "whitebox")

slope <- wbt_slope(dem, "./slope.tif", units = "degree")

sca <- wbt_d8_flow_accumulation(dem, "./fa.tif", out_type = "specific contributing area", log=FALS

[2020-11-22 18:20] giswqs commented on #25
Do NOT assign tool output to variables. All WBT tools are independent.

[code]

[2020-11-22 18:55] akersayin commented on #25
Dear @giswqs ,
Now everything worked without any error and I got Stream Power Index result map.
I'm grateful for your detailed replies. Thank you so much.

[2020-11-22 18:56] #25 closed

[2020-11-23 18:40] alherca73 opened #26 "Can whiteboxR work with raster::raster objects or only with tiffs stored on disk?"
Hello. I would like to use whiteboxR for a ton of watershed delineations. I've got pretty much all of the Western US DEMs but unfortunately they are in ESRI GRID format. I can read this into memory in R using raster::raster.

Is there a way to utilize raster::raster object with WhiteBoxR tools?

Thanks!

[2020-11-23 18:50] giswqs commented on #26
Unfortunately, the answer is NO. The WhiteboxTools library can currently support read/writing raster data in Whitebox GAT, GeoTIFF, ESRI (ArcGIS) ASCII and binary (.flt & .hdr), GRASS GIS, Idrisi, SAGA GIS (binary and ASCII), and Surfer 7 data formats. See https://github.com/jblindsay/whitebox-tools

[2020-11-23 20:31] alherca73 commented on #26
Oh Ok. Thanks for clarifying!

[2020-11-23 20:31] #26 closed

[2020-12-07 03:34] chljl opened #27 "whiteboxR and R objects"
I am trying to use the whiteboxR package for some geospatial analysis in R. I found that the tool seems only to use hard drive files as input and output in its functions, but not using regular R objects. Can I use, for example, a raster object in R as the input for whiteboxR functions , and output the result directly to R objects rather than frequently reading and writing data from the hard drive?

[2020-12-07 04:05] giswqs commented on #27
Unfortunately, the answer is NO. See Dr. John Lindsay's (@jblindsay) explanation [here](https://github.com/jblindsay/whitebox-tools/issues/52#issuecomment-551162422) and [here](https://github.com/jblindsay/whitebox-tools/issues/68#issuecomment-585794867).

[2020-12-07 04:05] #27 closed

[2021-01-25 18:30] ailich commented on #4
Maybe [ropensci ](https://ropensci.org/) reviewers would be able to provide some suggestions on how to make it compliant with CRAN.

[2021-01-25 19:16] Robinlovelace commented on #4
Great idea @ailich. Would you like to help submission?

[2021-01-25 19:20] giswqs commented on #4
@ailich @Robinlovelace Any help in making it compliant with CRAN will be greatly appreciated.

[2021-01-25 19:32] Robinlovelace commented on #4
Yeah we can do that. It deserves to be on CRAN. Thanks @giswqs !

[2021-01-25 19:52] ailich commented on #4
@Robinlovelace, I have never submitted anything to CRAN before so I don't know how  helpful I'd be, but since you mentioned that experienced software developers could help, I figured ropenscsi could be a vehicle for getting that input.

[2021-01-25 19:54] Robinlovelace commented on #4
Yes it's a good idea. Someone would have to submit it to rOpenSci. Their specialty isn't getting things on CRAN, it's peer review. I will ask some people in rOpenSci to see if anyone wants to help (I do but am very busy).

[2021-01-25 19:57] ailich opened #29 "modified_k_means_clustering help"
Hi I'm trying to use the `wbt_modified_k_means_clustering` but I'm having trouble how to figure out how to specify the input raster file. Additionally is there any documentation on how the "optimal" number of clusters is determined and is that dependent on the `merge_dist` argument?

I tried feeding in a path to a single multiband raster object but I get an error saying that "At least two inputs a

[2021-01-25 19:58] giswqs commented on #4
I no longer use R actively. If anyone wants to take the lead to submit this, please feel free to. I would be happy to help in any way I can.

[2021-01-25 20:04] giswqs commented on #4
I recently developed a whiteboxgui Python package - a Jupyter frontend for WhiteboxTools. It might also be useful some R users using Jupyter notebook. whiteboxgui has been integrated into [geemap](https://geemap.org).

https://user-images.githubusercontent.com/5016453/105759088-03a90c00-5f1e-11eb-8ad6-3f3f5a86da93.mp4

https://user-images.githubusercontent.com/5016453/105759363-600c2b80-5f1e-11eb-

[2021-01-25 20:14] giswqs commented on #29
You can use the `wd` parameter to set the working directory. See [this](https://github.com/giswqs/whiteboxR/issues/17#issuecomment-629452579).

More info about the tool can be found in the WhiteboxTools manual.
https://jblindsay.github.io/wbt_book/available_tools/image_processing_tools.html#ModifiedKMeansClustering

[code]

[2021-01-25 20:28] ailich commented on #29
Thanks, works great now! Just needed semi-colons between each filename rather than them being an individual element in a vector. Also setting the working directory in the function call definitely made the code cleaner.

[code]

[2021-01-25 20:28] #29 closed

[2021-02-12 04:04] DOSull opened #30 "What am I missing? (runs in a shell not from R console)"
Hi
Excited to find this treasure trove of useful spatial processing functions!

I'm on linux (Ubuntu 18.04) and R 4.0. After installing the package from the sourceforge repo with

[code]

and then running `wbt_init()` as instructed, on trying to invoke `wbt_natural_neighbours_interpolation(...)` I get

[code]

I can run the same command from a shell and also using `system()` from R, but no luck us

[2021-03-10 14:56] bkielstr opened #31 "Add "dinf" argument to wbt_downslope_distance_to_stream"
Hi there,

It looks like WhiteboxTools has a "dinf = TRUE/FALSE" flag but the R implementation does not.

Would it be possible to add this?

https://jblindsay.github.io/wbt_book/available_tools/hydrological_analysis.html?highlight=dinf#downslopedistancetostream

[2021-03-10 15:09] giswqs commented on #31
The `dinf` argumment was recently added by @jblindsay. It won't be available for the R frontend until the next release. You can compile the WBT binary from source and modify the R function if you want to use it now. See the instructions [here](https://github.com/jblindsay/whitebox-tools#building-from-source-code).

https://github.com/jblindsay/whitebox-tools/commit/755c9c7cc7dc0e019be892c0a04ef0d0

[2021-03-10 15:29] bkielstr commented on #31
Perfect, thank you!

[2021-03-10 15:29] bkielstr commented on #31
Shouldn't have closed this issue unless you want to.

[2021-03-10 15:32] giswqs commented on #31
You can close this issue if you want to. This issue should be fixed automatically in the next release.

[2021-03-10 16:02] #31 closed

[2021-03-11 08:27] ashishshankar0894 opened #32 "Error in system(args2, intern = TRUE) : 'C:/Program' not found"
This is the same lines which are on the description.

`library(whitebox)`
`dem <- system.file("extdata", "DEM.tif", package="whitebox")`
`wbt_feature_preserving_smoothing(dem, "./output.tif", filter=9, verbose_mode = TRUE)`

Getting an error
`Error in system(args2, intern = TRUE) : 'C:/Program' not found`

[2021-03-12 02:21] giswqs commented on #32
I just tested the sample code on both Windows and Linux, and it works fine.

[2021-03-22 11:06] oziashub opened #33 "Error in system(args2, intern = TRUE) :"
I have installed the R front end of whiteboxtool and run the code below but got the error below. I read online but could not find any consistant answer. I am using a window 10 system

Error in system(args2, intern = TRUE) :
  '\\storage.slu.se/Home$/ozho0001/My' not found

[2021-03-22 19:38] giswqs commented on #33
Run the sample code below and see what you get.

[code]

[2021-03-23 12:43] oziashub commented on #33
Thanks for the reply. I still got the same error. I change to another computer with window but still got the same massage.
Error in system(args2, intern = TRUE) :
  '\\storage.slu.se/Home$/ozho0001/My' not found

[2021-03-23 13:45] giswqs commented on #33
Are you saving data to a network drive? Try saving data to your local drive with spaces in the file path.

[2021-03-23 14:20] oziashub commented on #33
May a local problem on my side. No matter the path local or to the drive I still got the message.

[2021-03-23 14:29] giswqs commented on #33
What is the file path to your R packages installation directory?

[2021-03-23 14:37] giswqs commented on #33
Apparently, that file path is not on your local computer. Try to install whiteboxR on your local computer to run it.

[2021-03-23 14:41] oziashub commented on #33
Thanks. I will give it a try. I really appreciate your help.

[2021-03-23 14:42] giswqs commented on #33
You can also try it with Google Colab
https://colab.research.google.com/drive/16SJKfbDQVuaanOI7oA7vybOIWaKt5EFZ?usp=sharing

[2021-03-25 09:37] oziashub commented on #33
Thanks. It is now working fine. The issue was related whitebox not accessing my local path.

[2021-03-25 09:37] #33 closed

[2021-04-02 16:15] oziashub opened #34 "Running batch files for impoundment index issue with output"
Hi. I am using whitetboxtool in R to compute impoundment index for 1000 tiles of rasters. Since it will be too cumbersome to do it individually I have opted for writing a batch code to do it in parallel as shown in the code below.

library(raster)
library(foreach)
library(doParallel)

###set my working directory
setwd("path")

#setup parallel backend to use many processors
cores=detectCores()
cl <

[2021-04-02 16:51] giswqs commented on #34
I have not used R for a while and I am not familiar with the doParallel package. Did you try the regular looping without doParallel?

[2021-04-06 10:05] oziashub commented on #34
Hi. Thanks for the feedback. Yes the regular looping as coded

 below works fine. But only one core is used and I would preferred to run the code in parallel because of the high number of tiles.

for(i in 1:length(tiles)){
  wbt_impoundment_size_index(
    tiles[i],
    damlength=40,
    out_type = "mean depth",
    output = paste0("path", 'T_',i,'.tif'))
}

[2021-04-06 12:58] #34 closed

[2021-04-06 12:58] giswqs commented on #34
If the regular looping works fine, then the problem is not on the whitebox end. Try your parallel routine without whitebox and make sure it works as expected, then you can integrate whitebox into your routine.

[2021-05-14 19:31] bkielstr commented on #4
Has there been any movement on submitting this to CRAN lately? I have an interest in helping out but have not published to CRAN before. I only recently developed my first R package [hydroweight](https://github.com/bkielstr/hydroweight) that uses `whitebox` and `WhiteboxTools`. I'd love to see `whitebox` on CRAN so that I can subsequently take a shot at getting `hydroweight` there too.

What's need

[2021-05-14 20:21] giswqs commented on #4
@bkielstr I no longer use R. It would be great if you can take the lead to make whiteboxR available on CRAN. And yes, the main problem is that whiteboxR needs to download the WBT executable during installation, which violates CRAN policy. I spent quite some time two years trying to resolve the issue but failed.

[2021-05-14 20:35] giswqs commented on #4
One potential solution might be to directly embed the executables in the package rather than downloading it duration installation. I am not sure if this would violate CRAN policies.

[2021-05-14 22:53] giswqs commented on #4
[Here](https://www.reddit.com/r/rstats/comments/aqjtnx/distributing_a_compiled_executable_with_an_r/?utm_source=share&utm_medium=ios_app&utm_name=iossmf) is the link to the question about this I asked on Reddit two years ago

[2021-05-18 17:27] bkielstr commented on #4
OK, thank you. I will work on this as I have the time. I'll aim to have some sort of solution within the next month. Maybe this thread is the best to discuss that path forward?

[2021-05-18 17:31] giswqs commented on #4
@bkielstr Sounds great. Feel free to post questions here. Thank you in advance for your contribution.

[2021-05-18 20:38] Robinlovelace commented on #4
Hi @bkielstr thanks for reviving this. I would also like to see this back on CRAN but I am also out of my depth. Currently the package relies on system calls, e.g.:

https://github.com/giswqs/whiteboxR/blob/db6baa2bd1bd66f3d31b8c1129981ec3dd4ba259/R/wbt.R#L273-L285

I am not sure if that's the best approach. Looking at the source code of [`qgisprocess`](https://github.com/paleolimbot/qgisprocess),

[2021-05-18 20:53] giswqs commented on #4
@Robinlovelace Thanks for looking into this. We can certainly improve the codebase if needed. All R scripts for the package are generated automatically using this Python script - [automation.py](https://github.com/giswqs/whiteboxR/blob/master/PY2R/automation.py). Whether to use `system()` calls or `processx::run()` is a choice and optimization problem. The more critical issue is how to include the

[2021-05-19 14:57] bkielstr commented on #4
Thanks @Robinlovelace and @giswqs.

I agree it seems the most critical problem _was_ including WhiteboxTools executables in the first place. All external software I have experience with (including rgrass7 and old RSAGA among others) as well as [qgisprocess](https://github.com/paleolimbot/qgisprocess) above simply point to the executable and run it with a character string of arguments (much like wh

[2021-05-19 15:19] giswqs commented on #4
@bkielstr @Robinlovelace I have invited you as the collaborator for this repo. Please accept the invite and feel free to update the repo as you see fit. Thanks.

[2021-05-27 02:34] sabangroo opened #35 "Downloading Issue from GITHUB"
I tried to install whiteboxR via Github, but it fails
Please look into the matter.

`devtools::install_github("giswqs/whiteboxR")`

System command 'Rcmd.exe' failed, exit status: -1, stdout + stderr empty

[2021-05-27 02:59] giswqs commented on #35
What operating system are you using? I just tested the installation on Windows, and it worked fine. Try installing from R-Forge.

[code]

![image](https://user-images.githubusercontent.com/5016453/119759183-cf1a7200-be75-11eb-8a9c-d0414b30a908.png)

[2021-05-27 03:11] sabangroo commented on #35
I am using windows OS.
I tried many times to download it from`devtools::install_github("giswqs/whiteboxR")`
But I am getting the same error
![111](https://user-images.githubusercontent.com/69730776/119760078-f9e0e680-bec6-11eb-9cf9-1c7eca7189b5.JPG)

Installation works from `install.packages("whitebox", repos="http://R-Forge.R-project.org")`
But functions are not working, see below
![2222](https:/

[2021-05-27 03:18] giswqs commented on #35
Try it with Google Colab.

https://colab.research.google.com/drive/1V7ID9AWz_kI8S88Z6nZxzPJz3G3lM6Or?usp=sharing

[2021-06-07 19:59] bkielstr commented on #4
@giswqs, congratulations on the release of WhiteboxTools v 1.5.0.

Do you intend on updating any of this code to update to the new WhiteboxTools or should I assume you will not be doing that? Should I wait until it is updated until trying to tackle the CRAN issues?

[2021-06-07 20:09] giswqs commented on #4
@bkielstr I will update whiteboxR later this week. If you figure out the CRAN solution, please feel free to submit a pull request. I can incorporate your update into the next release. If you prefer to work on it later, that's fine as well.

[2021-06-07 20:14] bkielstr commented on #4
@giswqs Great thank you. Ok - I think that I will wait until you've had the time to update whiteboxR just in case anything more substantial changes along the way. All the best.

[2021-06-08 18:41] jacobisleib opened #37 "Request: option to manually set exe path"
Greetings, I use whiteboxtools with limited admin privileges (government work pc) and am unable to run the executable from my R directory.  However, I can have WhiteBoxTools installed to my work computer and run via console from the C:/ProgramFiles.. directory.   I'd love to be able to script whitebox in R but would need to manually set the exe path.  I've tried to see if this is possible in the c

[2021-06-08 19:12] bkielstr commented on #37
Hi @jacobisleib

I think that this will be addressed in when I deal with #4. I'll be working on whiteboxR CRAN-compliant within the next month or so.

Do you have a user R library (e.g., C:/Documents/R/win-library)? Or is that not allowed on your machine? Shifting your library to another local location might help. I am also on a government pc with limited admin privileges.

[2021-06-08 19:17] jacobisleib commented on #37
Hi,
That's great!   I appreciate your work on this software.

Yes, I have a local R library but I think all non-admin installed exe files get restricted as far as I can tell.

[2021-06-08 23:01] giswqs commented on #37
@jacobisleib Maybe you can try Google Colab as a temporary solution before this feature is implemented.

https://colab.research.google.com/drive/1V7ID9AWz_kI8S88Z6nZxzPJz3G3lM6Or?usp=sharing

[2021-07-07 03:01] giswqs commented on #32
This bug has been fixed. Please install the latest version from GitHub. This bug was caused by the space (e.g., `"C:/Program Files (x86)"`) in the WBT exe file path.

[code]

[2021-07-07 03:01] #32 closed

[2021-07-21 21:13] tcalegario opened #38 "Error in system(args, intern = TRUE) : 'C:/Users/PROJETO' not found"
Dear Qiusheng Wu,

I'm trying to access whitebox, but I can't due a to "blank space" in my folder user name.

'C:/Users/PROJETO RENOVA/...

Do you think there is a way to solve it instead of changing my username folder?

Thanks for developing this package.

In another machine that I use ran each tack in less than 1 second.

Best wishes.

[2021-07-21 21:54] giswqs commented on #38
When and how did you install whiteboxR? I believe this issue was already resolved. See https://github.com/giswqs/whiteboxR/issues/32#issuecomment-875233755
[code]

[2021-07-22 00:01] tcalegario commented on #38
That works fine!

Thanks a lot.

I used

`install.packages("whitebox", repos="http://R-Forge.R-project.org")`

best wishes

[2021-07-22 00:01] #38 closed

[2021-08-03 04:05] brownag commented on #37
Hi @giswqs and @bkielstr

I forked the repo and played around a bit after stumbling upon @jacobisleib's issue. I work for same agency as Jacob. We only have execute permissions in certain directories, and non-privileged users can't put new executable into these folders. We _can_ have our IT folks install WBT into Program Files (for instance), and once it is in that folder we just need a way to poi

[2021-08-03 04:51] giswqs commented on #37
@brownag Thank you very much for this. Your implementation looks great. Please feel free to submit a pull request. I have also added you as a collaborator for this repo. My R knowledge is quite limited as I have not actively used it during the past years. Your contribution will be greatly appreciated. If you can make whiteboxR acceptable by CRAN, that would be awesome! Any potential solution is we

[2021-08-03 13:13] bkielstr commented on #37
@brownag - I certainly don't think you're stepping on any toes.  I was mostly trying to keep the conversation about CRAN and was willing to tackle it - it looks like you've moved it all the way forward! And other than forking the repository, I haven't had the chance to get moving on this. By chance, I saw the branch you were working on a few days ago and thought it was the perfect solution for CRA

[2021-08-03 13:17] bkielstr commented on #4
This has been worked on by @brownag as a result of #37 [here](https://github.com/giswqs/whiteboxR/issues/37#issuecomment-891504552 ).

@giswqs and @brownag , maybe we should move the CRAN discussion here and close #37 once this issue is closed.

[2021-08-03 13:26] giswqs commented on #4
@bkielstr Good suggestion. We can continue the CRAN discussion here once  #37 is closed.

[2021-08-03 15:25] brownag commented on #37
Once PR is merged I would be happy to try and submit to see what they have to say and go from there
I have tested it on my work computer (windows) and my home computer (ubuntu), but please test and look for any pain points.

[2021-08-03 18:27] #37 closed

[2021-08-03 18:31] giswqs commented on #37
@brownag Great work! Thanks a lot.

[2021-08-05 15:37] bkielstr commented on #4
@brownag and @giswqs - I will update the READE.md to reflect the new changes to running WhiteboxTools in R by the end of the week and I'll look forward to hearing about the CRAN submission!

[2021-08-05 23:38] brownag commented on #4
I ran the package through CRAN's winbuilder and checked on Solaris with rhub. Just a couple NOTE on first try.

 - LazyData in DESCRIPTION with no /data/.
  - There were a couple URL redirects that needed fixing
    - @bkielstr I made changes to the README to remove the comment about not being available on CRAN and fixed the URLs.  That way if they accept the package, the README file will be up to

[2021-08-06 00:42] giswqs commented on #4
@brownag Thank you for your excellent work! We are one step closer to getting it back on CRAN. Most of the misspellings originate from the WBT backend. @jblindsay already fixed it at https://github.com/jblindsay/whitebox-tools/pull/170. The should be corrected automatically with the next WBT release.

Yes, we try to sync the R version with the WBT version (v. major.minor.patch). It is OK for the p

[2021-08-06 01:15] brownag commented on #4
Great. As I did the bulk find/replace it was not too difficult to fix the spellings, but I did realize that was derived from WBT backend. However I didn't think to check if it had been fixed yet. Good to know it was fixed there too!

Unfortunately we are limited to one maintainer. However I will not fight to keep that role so if @bkielstr is interested in taking over in the future once we are up a

[2021-08-06 01:33] giswqs commented on #4
@brownag Great! Ready to go. I appreciate you taking the maintainer role. Time flies! It has been 2.5 years since it was taken down from CRAN.

[2021-08-06 15:24] bkielstr commented on #4
@brownag - thank you for getting this going and doing a superb job! These solutions would have taken me much longer to work out so I'm happy with you being the maintainer since I haven't really done anything with the code, ha ha! That said, I'm happy to be assigned problems or add changes when needed. I am certainly new to package development and management but will by trying to submit [hydroweigh

[2021-08-06 15:33] bkielstr opened #40 "Github installation issue with whiteboxR 1.5.1"
whiteboxR 1.5.1 is failing to install on a fresh R 4.1.0 and RStudio 1.4.1717 on both Mac and Windows. The error messages are different but likely related a namespace issue.

*********
Windows:

devtools::install_github("giswqs/whiteboxR") # For latest version
Downloading GitHub repo giswqs/whiteboxR@HEAD
√  checking for file 'C:\Users\bkielstr\AppData\Local\Temp\Rtmp8OkmWJ\remotes9141fb76178\gisw

[2021-08-06 15:44] brownag commented on #40
This is running afoul of the (bad) heuristics I was using to find the whitebox binary. I actually think we should not use the method I put in there. I will remove it and have you try and install without it off a branch.

[2021-08-06 15:51] brownag commented on #40
Try this. Will merge in if it works. I am glad this came up, because I knew that method was over-doing it and needed to be removed/re-thought.
[code]

[2021-08-06 17:15] bkielstr commented on #40
Smooth installation for both operating systems!

[2021-08-06 17:15] #40 closed

[2021-08-17 01:24] brownag commented on #20
I can confirm that this is related to scientific notation, even if the user specifies size as a value like `100000` it seems that numbers that large automatically will be converted to scientific notation with default `scipen` options.

Using the latest version of the package I can successfully run the following:

[code]

In contrast this fails:
[code]

I think we could probably handle `"parameter_

[2021-08-17 02:24] brownag commented on #35
@sabangroo I am curious if you are still have trouble installing from GitHub with latest version. Try using the {remotes} package which has the `install_github()` function that {devtools} uses.
[code]

When using {remotes} I most often have issues with installing dependencies or error in build.
You can try running `remotes::install_github("giswqs/whiteboxR", dependencies=FALSE, build=FALSE)` to tr

[2021-08-17 03:12] brownag commented on #30
Hi, thanks for your interest in the WhiteboxTools R frontend!

I believe the thing you are missing--and this is not immediately clear to me from the documentation currently in the R package is:

 - You need to specify one of the "optional" arguments to provide a "template" for the output raster.
   - either:
     - `cell_size` (integer); or,
     - `base` (raster file path)

If I am not mistaken o

[2021-08-17 03:12] #30 closed

[2021-08-17 06:27] sabangroo commented on #35
Thanks @brownag for the reply
I tried to install.packages("remotes"), But I am still unable to install it.

remotes::install_github("giswqs/whiteboxR", dependencies=FALSE, build=FALSE)
Downloading GitHub repo giswqs/whiteboxR@HEAD
Installing package into ‘C:/Users/shalzsab/Documents/R/win-library/4.1’
(as ‘lib’ is unspecified)
Warning message:
In i.p(...) :
  installation of package ‘C:/Users/shal

[2021-08-17 19:39] brownag commented on #35
@sabangroo

Interesting. I am leaning towards thinking this is some sort of a configuration issue with your computer as we have a CI running for Windows and it has no issues with install. My work computer is a Windows machine that I have limited privileges on and I have no issues installing from GitHub.

I have three final things I can suggest:
 - Is there a firewall or antivirus software that may

[2021-08-17 19:47] sabangroo commented on #35
@brownag Yes, you are right. I could successfully install it on my other machine. It was definitely a  configuration issue, after some troubleshooting, I could manage to install it smoothly.
Thanks for your help

[2021-08-17 19:50] brownag commented on #35
Excellent!

[2021-08-17 19:50] #35 closed

[2021-08-25 07:31] #22 closed

[2021-08-27 19:54] bkielstr opened #45 "Error in system(command, as.integer(flag), f, stdout, stderr, timeout): character string expected as first argument"
@brownag - amazing work getting the package ready for CRAN.

Using the current whiteboxR 1.5.1 and running the example code of latest version of [hydroweight](https://github.com/bkielstr/hydroweight/), I end up with errors related to the system call.

The bug is in ```wbt_run_tool()``` and, internally, ```tool_name <- as.character(match.call()[[1]])```. It has to do with the ```"::"``` syntax of c

[2021-08-27 20:56] brownag opened #46 "`wbt_laplacian_filter()` variant= OptionList argument type needs shell quoting"
This is a note to make aware of some unexpected behavior I found while testing functions systematically.

I made some notes on this but never posted an issue. Still pondering what the general approach should be for sanitizing user input data and types in the autogenerated methods. I have some tools that I have been working for checking the arg string that might be able to be dropped into all of th

[2021-08-28 01:30] brownag commented on #45
@bkielstr

Again I appreciate you catching this. Let me know, when you can, whether https://github.com/giswqs/whiteboxR/commit/fd45095df915456479d33e7a759491050168e9d9 solves the issue for you.

Here were the notes I made when I was trying to batch run the wbt_functions by name... in something like bulk testing.

 To do this, I was generating a list of exported wbt_ method from package and calling

[2021-08-28 22:22] brownag commented on #45
I was able to successfully knit the hydroweight README.Rmd with my recent fixes.

After playing with this a bit more needs to be fixed in the `wbt_run_tool()` method, not lower than that. Basically in the length>1 input case if the result might have come from `match.call()` need to take the last value in the vector, because `system()` is not vectorized and will take the first value

I have added a

[2021-09-02 14:55] brownag commented on #45
For the 2.0.x release forthcoming I have replaced the `match.call()` with hard coded character in the auto-generated tool code for a test branch. Which means that the following will work too:

[code]

[2021-09-07 02:13] #45 closed

[2021-09-10 13:48] brownag commented on #4
whitebox 2.0.0 was published on CRAN on 2021/09/10

https://cran.r-project.org/package=whitebox

[2021-09-10 13:48] #4 closed

[2021-09-10 13:54] giswqs commented on #4
@brownag Fantastic work!! You made my day. It has been 2.5 years since it was taken down by CRAN. Time flies!

[2021-09-10 19:04] bkielstr commented on #4
@brownag Congratulations!! This was pretty great to watch unfold in real time. You put a lot of effort into bringing this package back to CRAN.

[2021-09-11 15:01] jblindsay commented on #4
This is a huge accomplishment, and one that will no doubt help the WBT community tremendously. Thanks to everyone who helped to make this possible.

[2021-09-14 13:18] aterui opened #53 "System command had status 101"
Hello,

I am new to `whitebox` package in R and am having trouble using functions in the package. I did not find a similar issue here, but sorry if this has been addressed. I tried a basic demo script to see if it works in my computer:

[code]

I got:

[code]
Any ideas? I got identical errors for any other functions in the package. I appreciate your help.

session info:
[code]

[2021-09-14 13:21] giswqs commented on #53
Avoid using a file path with space, e.g., `OneDrive - UNCG`

[2021-09-14 20:41] aterui commented on #53
Thank you for your response - much appreciated. I tried the demo again after changing the working directory, and it worked out.
[code]
this returns:

[code]

However, I still get the same problem when I use `wbt_watershed`:

[code]

[code]

Are there any difference between the functions? I did realize the path to whitebox executable still contains whitespace; however, it runs with no trouble in `w

[2021-09-15 13:10] #53 closed

[2021-10-12 00:55] Bern67 opened #54 "wbt_stochastic_depression_analysis"
Hello - I just installed the whiteboxR package and tried to run two separate DEM's (.tif) and keep getting the same error:

library(raster)
library(whitebox)

+   demP1,
+   output="D:/R Projects/P1Karst/data/p1pdep.tif", #pdep=probability of depression output to working directory
+   rmse=0.05, # Point cloud error, in meters
+   range=4, #size of pixel (at least 3X resolution of DEM)
+   iteratio

[2021-10-12 01:28] giswqs commented on #54
The input should be a file path to the geotiff, not a raster object.

[2021-10-12 01:36] Bern67 commented on #54
Same result

[2021-10-12 01:37] Bern67 commented on #54
demP1 <- "D:/R Projects/P1Karst/data/dtm_utmZ10.tif"

[2021-10-12 01:38] giswqs commented on #54
Then it might be the problem of the GeoTIFF. See https://github.com/jblindsay/whitebox-tools/issues/23

[2021-10-12 01:50] Bern67 commented on #54
OK, got it, the current version of whiteboxR does not work with geotiff and there is no documentation for how to get a dem to work in witeboxR.

[2021-10-12 19:46] brownag commented on #54
@Bern67 as you demonstrated the tool works fine with the sample GeoTIFF DEM provided in the package. Most of our examples and vignettes for whiteboxR use this GeoTIFF DEM.

For starters could you provide the output of `gdalinfo` run on the raster(s) in question? See https://gdal.org/programs/gdalinfo.html / `gdalUtils::gdalinfo()`

[code]

For instance:
[code]

I would be happy to take a closer lo

[2021-10-18 21:32] FNRobinne opened #55 "wbt_mosaic returns error 101"
Hi,
I'm trying to mosaic tiles from MERIT-Hydro for Western Canada. I have 121 elevation tif files (tiles) in a folder that I have set as my working directory.

This is what I'm running:
`wbt_mosaic(output = "MERIT_mosaic_wbt.tif", inputs = NULL, method = "nn")`
Based on the documentation, I don't specify my inputs so it automatically reads all the .tif in my working directory.

After less than a

[2021-10-18 23:13] jblindsay commented on #55
Trying to mosaic 121 6000x6000 DEM tiles is probably ill-advised, and if you have limited memory, will very likely result in a memory error. Nonetheless, the error that you have is not a memory error, but rather one of a missing file. It seems as though your install is unable to find the WBT executable file. Have you checked that location on your computer, "C:/Users/robinne/Documents/R/win-library

[2021-10-19 19:09] jblindsay commented on #55
Can you please try mosaicking a couple of tiles using the WhiteboxTools Runner, so that we can determine whether this is an issue with the WBT R frontend or if it is an issue that belongs to the WBT backend?

[2021-10-19 19:39] merlinlelutin commented on #55
I was able to make a mosaic with the WhiteboxTools Runner.
After a bit of fiddling, I was also able to create a mosaic with two tiles in R; it was not clear how the input list must be entered for the tool (i.e., `inputs = "tile_1;tile_2;tile_n"`)

[2021-12-03 12:51] tcalegario opened #56 "Weighted flow accumulation"
Dear giswqs,

hope you are well.

Thanks for this package. It's awesome.

I'm wondering if I can make a weighted flow accumulation with this package.

For example, I would like to obtain mean rainfall in all flow accumulation pixels which represents "mean rainfall" in all 'catchment area' (https://www.researchgate.net/publication/348961247_Gauging_the_Ungauged_Regionalization_of_Flow_Indices_at_Gr

[2021-12-03 13:17] jblindsay commented on #56
Please see the [DInfMassFlux](https://www.whiteboxgeo.com/manual/wbt_book/available_tools/hydrological_analysis.html#DInfMassFlux) and the [D8MassFlux](https://www.whiteboxgeo.com/manual/wbt_book/available_tools/hydrological_analysis.html#D8MassFlux) tools.

[2021-12-03 13:17] #56 closed

[2021-12-03 14:13] tcalegario commented on #56
Thanks jblindsay!

[2021-12-03 14:17] jblindsay commented on #56
No problem @tcalegario. Also, just for future reference, questions/issues like this should probably be issued to the [WhiteboxTools backend](https://github.com/jblindsay/whitebox-tools) rather than the R front-end.

[2022-01-16 22:22] UWyoHydro commented on #55
First off: What a fantastic package, thank you for the development!!
Hope it's alright to piggyback on this, since I believe it's a similar issue. I am running into some problems with `wbt_mosaic()` as well. Both the way that the output path and the input folder path need to be specified were/are not clear to me. Using this thread, I was able to make the tool work, but the mosaic'd tif gets saved

[2022-01-16 22:37] giswqs commented on #55
@UWyoHydro Have you tried using absolute file paths for both the inputs and output?

For the lost CRS issue, I thought that issue has already been fixed at https://github.com/jblindsay/whitebox-tools/issues/6#issuecomment-450501932. If not, you might want to open an issue at https://github.com/jblindsay/whitebox-tools/issues

[2022-01-18 03:40] brownag commented on #55
@UWyoHydro @giswqs I took a peek at this. Having to use the `inputs=NULL` with `--wd` specified to avoid errors appears to be related to needing shell quoting around the `inputs` argument when it contains semicolons. Semicolons are the suggested syntax from `wbt_tool_help()`  and above in this thread, but that doesn't work without quoting (on some platforms?)

When I try to specify a list of relat

[2022-01-18 03:45] giswqs commented on #55
@brownag This is very helpful. Thank you for the thorough tests.

[2022-01-18 04:17] brownag commented on #20
Also, explicitly setting a numeric literal as an integer using `L` suffix e.g. `100000L` also works to resolve this for any Integer parameter parsing issues.

[code]

[2022-01-19 17:19] brownag commented on #55
@UWyoHydro Could there be a settings.json file in the R working directory that is pointing `working_directory` somewhere else and creating the output there?

With the current release of the whitebox R package it is possible for the R package to get out of sync with the settings.json files that are created when you set a working directory. Running `wbt_wd("")` should reset this, or you could delete

[2022-01-19 21:36] UWyoHydro commented on #55
@giswqs @brownag Thank you for your answers! (apologies for the delay in responding on my end...)

So, let's see... I had tried using the full file paths, to no avail. As far as specifying inputs is concerned, I had tried both comma and semi colon, but might not have quoted it correctly. I will give it a shot later, properly quoted. My workaround had been to use the script to copy and then delete

[2022-01-19 22:20] brownag commented on #55
I can confirm that in my above example the CRS is dropped, I should have mentioned that. The input tiles have WGS84 geographic coordinate system (terra shows `coord. ref. : lon/lat WGS 84 (EPSG:4326)` whereas terra shows `coord. ref. : NA` and output has the WKT string for a generic cartesian system as seen in `gdalinfo`
[code]

[2022-01-20 19:25] brownag commented on #54
I am closing this as it appears the tool works as expected.
@Bern67: if you have a sample DEM that can reproduce this issue feel free to respond here or open a new issue.

[2022-01-20 19:25] #54 closed

[2022-01-20 19:26] brownag commented on #54
@Bern67 If any of your file paths include spaces, please try using `shQuote()` or surrounding them with single quotes. This may be the source of your problems.

[2022-02-01 21:14] giswqs opened #58 "Add machine learning tools and improve automation script"
Currently, the machine learning tools are missing. The automation script needs to be improved.

https://www.whiteboxgeo.com/manual/wbt_book/available_tools/machine_learning.html

toolboxes
https://github.com/giswqs/whiteboxR/blob/master/PY2R/automation.py#L216

get_wbt_dict:
https://github.com/giswqs/whiteboxgui/blob/master/whiteboxgui/whiteboxgui.py#L364

get_ext_dict:
https://github.com/giswqs/w

[2022-02-02 22:16] brownag commented on #58
The functions for ML tools linked in the [WBT manual](https://www.whiteboxgeo.com/manual/wbt_book/available_tools/machine_learning.html) were created by automation script and are now exported from the R package. I think they should "work" for folks who have the extension to activate (but have not tested), and they show up in the documentation e.g. https://giswqs.github.io/whiteboxR/reference/wbt_d

[2022-02-03 05:17] giswqs commented on #58
I have added the machine learning tools to `machine_learning.R`. It was an easy fix. See PR #59.

You can use Python `wbt.install_wbt_extension("gte")` to install the extensions. See
https://github.com/giswqs/whitebox-python/blob/master/whitebox/whitebox_tools.py#L584

Each extension tool has an associated json file with all the parameters listed in it. Therefore, you don't need a license to retri

[2022-02-07 15:51] #58 closed

[2022-02-13 18:35] Nischal-Karki-ATW opened #61 "wbt_watershed returns System command had status 101"
I am using wbt to delineate watershed. I have flow direction and flow accumulation grid from [MERIT-Hydro](https://developers.google.com/earth-engine/datasets/catalog/MERIT_Hydro_v1_0_1). I test for one pour point, after extracting stream from flow accumulation and snap pour point to stream. I also cross-checked the snapped pour point and it lies in the stream pixel.
The code is:
[code]
Could it b

[2022-02-13 18:43] giswqs commented on #61
Please provide the details for the error.

[2022-02-14 04:37] Nischal-Karki-ATW commented on #61
[code]
This is all I got.

[2022-02-15 13:33] tcalegario commented on #61
I think the result raster and st_read may help.

[code]

[2022-02-16 09:00] #61 closed

[2022-02-24 19:46] EmFidan opened #62 "Whitebox will not run any tools with error thread 'main' panicked"
I have been using WhiteBox through the R interface for a while now. I haven't had any issues with running wbt functions before, except this week.
I have been trying to run simple DEM processing and watershed commands such as:
[code]
The error I have been receiving is:
[code]
I have the executable files present, thanks to the install_whitebox function, and I have trying to debug with no luck. The D

[2022-02-24 20:35] brownag commented on #62
I think the issue is use of `~` to refer to your home directory. Currently there is no path expansion of the tilde with e.g. `path.expand()` call wrapping input/output paths, so you either need to set your WBT working directory to (full path of) your home directory and use relative paths (starting with "./") or use the full file paths.

[2022-02-25 15:07] EmFidan commented on #62
It appears that was the issue. Coincidentally, that was the one thing I had not tested. Thank you for catching that!

[2022-02-25 15:07] #62 closed

[2022-03-24 04:24] jflowernet opened #66 "Line across hillshade output"
Hi,
First thanks for the excellent package. These tools are very useful.

I'm a total beginner with whitebox, but have a problem with hillshade that I can't resolve and am hoping someone can help with. There is a line across the hillshade output and I don't understand where it is coming from as there doesn't seem to be anything in the DEM that would result in this. The DEM and resulting hillshade

[2022-03-24 05:51] brownag commented on #66
Thanks for reporting this issue. Interesting. It appears you can get around this by first projecting your DEM into something other than EPSG:4326. Here's an example projecting to [EPSG:32643](https://spatialreference.org/ref/epsg/wgs-84-utm-zone-43n/)

[code]

![](https://i.imgur.com/iteCkme.png)

As far as I can tell this doesn't affect _all_ hillshades done on rasters with a geographic CRS, at l

[2022-03-24 06:09] jflowernet commented on #66
Many thanks for the quick response and the workaround @brownag! Strange that this particular DEM has a problem being in 4326 for hillshade and others do not. I had run the sample DEM without problems as you said, so I had discounted the projection as the issue.

I'll post an issue in whitebox tools just in case there is some odd bug in the code.

Thanks again!

[2022-03-24 06:09] #66 closed

[2022-03-30 14:30] hewag1975 opened #67 "Whitebox cannot create "settings.json" on shiny server after upgrade to 2.1.1"
Hi,

we are using whitebox-tools through the R-client from within a shiny-application.
Installation on our shiny-server was performed as documented [here](https://github.com/giswqs/whiteboxR) by

* running `install.packages("whitebox")` as root (package directory is `"/usr/local/lib/R/site-library"`)
* running `whitebox::install_whitebox()` likewise as root which installs the WBT executable into t

[2022-03-30 15:43] brownag commented on #67
Hello,

It seems that I broke this by passing parameters to the WhiteboxTools binary even when they are not specified by the user.  The whitebox_tools program will write updates to the options even if they aren't different from the current setting/defaults. It is normal for a non-root user to not be able to write to a folder owned by root. You were relying on default options before, which means yo

[2022-03-31 08:28] hewag1975 commented on #67
Thanks for your reply. It helped me better understand the problem, though I was not able to solve it so far.

First I tested it on my local machine:
[code]
This makes the executables available to the R-package. If I execute any `whitebox` command from my R-session, the settings.json file is created inside the **specified WBT-folder** (here `/home/hendrik/WBT`). However, if I launch my shiny app lo

[2022-03-31 14:47] brownag commented on #67
Thanks for your detailed response Hendrick, and thank you for raising this issue. You have alerted me to several things that need to be fixed and I got started on it last night. I am very interested in making sure whitebox package works well for your use case.

I believe if you set the working directory option e.g. `wbt_init(wd = ...)` subsequent settings.json may be written there, however this ma

[2022-04-01 08:22] hewag1975 commented on #67
I installed the github version of the R package and also specified the working directory.
[code]
Still when I launch the app and create a WBT function call, the `settings.json` is created inside the app folder, not within the working directory. As you mentioned that setting `wd` applies to subsequent writes of the settings.json, I also moved the settings.json from the app folder to the WBT folder

[2022-04-03 17:19] brownag commented on #67
[This](https://github.com/brownag/whiteboxR/commit/4f72b173bb59bb8368279a05936f71167ec719a3) should fix the issue ensuring that additional flags related to settings.json are not added to the command string if the user has not explicitly set them.

I also did some digging into the settings.json. If we look [here](https://github.com/jblindsay/whitebox-tools/blob/e9a19a685a1e0bafb049a65c910ac04310164

[2022-04-03 20:54] brownag commented on #67
Here is an app I set up to test https://github.com/giswqs/whiteboxR/pull/68 on shiny server. With those fixes basic running of tools should work with the default R working directory (/srv/shiny-server/ app folder) as long as the settings.json options are not set.

If the user home folder is used (uncomment `setwd("~")` etc.), then changing settings.json options should work. This uses the normal in

[2022-04-03 20:56] #67 closed

[2022-04-05 12:36] hewag1975 commented on #67
Thanks for fixing this.
I launched the app locally and called `wbt_slope` from within the application. This generated settings.json in the application working directory. I re-deployed the app (incl. settings.json) to the shiny-server and installed the latest github version of `whitebox`. App can be launched by the shiny user and used as intended.

[2022-04-09 17:33] wiesehahn opened #69 "working with R internal files"
Hi,
is there any way to process files internally in R without saving them to disk?

something like e.g.
[code]

[2022-04-09 19:26] wiesehahn opened #70 "print(wbt_list_tools()) prints Error"
In the documentation it says
[code]

Instead an Error is printed
[code]

[2022-04-09 21:56] brownag commented on #70
Are you using a recent version of the package from CRAN or GitHub?
With latest version available on CRAN (2.1.2) and on GitHub (2.1.2.9001) I get the following:
[code]

[2022-04-09 22:19] brownag commented on #69
The short answer is no because the R package is a wrapper around the Rust library and command line tool: https://github.com/jblindsay/whitebox-tools. All of the arguments for inputs and outputs of the tool in are specified as file paths.

I have been experimenting with an alternative interface for calling tools that allows automatic creation of R spatial objects from the inputs and outputs via a n

[2022-04-10 11:34] wiesehahn commented on #70
Fresh install from CRAN

[code]

[2022-04-10 14:38] wiesehahn opened #71 "working with compressed tif-files"
I guess its more an issue related to WhiteboxTools, but since i am not sure I state it here.

Trying to run commands for compressed TIF-files results in `System command had status 101`.

This is just true for certain compression types (e.g. LZMA, DEFLATE with predictor), while others (e.g. DEFLATE, LZW) work. Might be related to underlying GDAL version?

[2022-04-10 17:10] brownag commented on #71
Yes, this is a known issue that, I believe, is not likely to be remedied in very near future. WhiteboxTools has a custom TIF file reader and GDAL is not used at all. See the manual for more info on supported data formats https://www.whiteboxgeo.com/manual/wbt_book/supported_formats.html

It is my understanding that the primary focus of development on WhiteboxTools right now is improving/adding to

[2022-04-10 17:10] #71 closed

[2022-04-10 17:27] brownag commented on #70
Can you show the output for this command, please? And what platform are you running this on?

[code]

If you run the above command output directly in your shell, do you get the same result?

[2022-04-11 07:24] wiesehahn commented on #70
running on Windows, guess thats the problem.
[code]

[code]

[2022-04-13 16:57] #70 closed

[2022-04-21 09:07] alenahav opened #75 "NAs after using wbt_fd8_flow_accumulation"
Hi,
I am trying to use whitebox to calculate some hydrological characteristics of European DEM from https://land.copernicus.eu/imagery-in-situ/eu-dem/eu-dem-v1.1?tab=mapview.

I am using this raster:
class      : RasterLayer
dimensions : 98, 250, 24500  (nrow, ncol, ncell)
resolution : 32800, 55200  (x, y)
extent     : 952657.5, 9152658, 1029407, 6439007  (xmin, xmax, ymin, ymax)
crs        : +pro

[2022-04-25 19:18] brownag commented on #75
Thanks for bringing up this issue, @alenahav.

First of all, there appears to be something unusual going on with the resolution of your raster... it is not the source of the problem but probably more aggregated than you intended.
[code]

Also, a very large portion of the DEM extent you use (952657.5, 9152658, 1029407, 6439007) contains no data (ocean).

I took a look at the source DEM and it seems

[2022-05-03 09:40] hewag1975 opened #76 "install_whitebox not able to download executable in Github Actions"
Hi,
we have a set of [docker images](https://hub.docker.com/u/meterds) which we create and maintain using Github Actions.
Running `whitebox::install_whitebox()` perfectly works when executed in a local docker container, but fails to download the zip-file when executed during a github actions workflow. The same goes when we download the zip file using `wget` during image creation.

Reprex for insta

[2022-05-03 13:58] brownag commented on #76
Hi @hewag1975

We have encountered this before in one context: our GHA R CMD CHECK workflow that runs on Windows fails downloads every time and essentially functions as tests of the package without a binary present. @giswqs and I spend some time trying to diagnose it to no avail several months ago.

From the most recent run:
https://github.com/giswqs/whiteboxR/runs/6026899039?check_suite_focus=tru

[2022-05-03 14:10] giswqs commented on #76
I had this issue before. GitHub Actions randomly failed when downloading binaries from whiteboxgeo.com. However, it works fine if users install the package locally. It could be the GitHub Actions automated download requests are too much for whiteboxgeo.com to handle and the download requests are denied. I am not sure. One workaround I used was to have backup download links on GitHub. Those binary

[2022-05-04 14:51] hewag1975 commented on #76
Thanks for your support and suggestions!
We will add a copy of the executable to the repo from which we create the docker images and copy it over on build. If the download from whiteboxgeo.com fails during build, we are using this one instead.
`r -e 'success = whitebox::install_whitebox(pkg_dir = "/usr/local/bin"); if (is.null(success)) unzip("/tmp/WhiteboxTools_linux_amd64.zip", exdir = "/usr/loc

[2022-05-04 14:51] #76 closed

[2022-05-06 03:15] brownag commented on #75
I think I have figured out a way to display these warnings while still hiding the bulk of tool output in #77.

However, after looking into this more, I am going to revise what I said. @alenahav. I think the large amount of NoData in your raster combined with aggregation very coarse resolution is the reason you are getting NA values in your result raster. The FD8FlowAccumulation tool _runs_ despite

[2022-05-06 03:15] #75 closed

[2022-05-06 05:06] alenahav commented on #75
Thank you for your response. I noticed that NAs are only in oceans and for land the calculation works. My coarse resolution is because that I need the same resolution as the other environmental layers that I use in modelling. Do you think there are still problem that pits have not been filled for this coarse resolution (one raster cell is around 50 km)?

Alena

[2022-05-06 06:43] brownag commented on #75
Well, the source raster had a resolution of 25m if I remember correctly. That is like 2000x aggregation... I am not sure whether that is in the typical scope of this tool/what the warnings are referring to. If it were me I would probably try to summarize the flow accumulation results from a somewhat more detailed DEM, even if I needed to be aggregating up, but I do not know what your work is focus

[2022-05-06 07:10] brownag commented on #55
This issue with quoting and semicolon separated multi-file inputs should be resolved in whitebox 2.1.4 so I will close this issue.

As far as the missing CRSs, I think I have seen it be a problem with several tools. In terms of the R package all we can do in theory is ensure CRS is propagated from input to output--but not in the current tool implementation and without some significant effort. Hope

[2022-05-06 07:10] #55 closed

[2022-05-06 07:48] #46 closed

[2022-05-12 17:11] jwilliamrozelle opened #80 "Add error message for file type?"
So, this is probably because I'm monumentally dumb, but - spent a long time trying to figure out why the raster function wasn't working.

It was because I was using a .img file, rather than a geotiff.

Just a potential thought to add an error message about file type. I could do this and submit a pull request, if helpful.

[2022-05-12 17:20] jblindsay commented on #80
I'm afraid that WBT doesn't support the .img file format. [Here](https://whiteboxgeo.com/manual/wbt_book/supported_formats.html#raster-formats) is the list of supported raster formats.

[2022-05-12 19:06] jblindsay commented on #80
I can't say what it looks like on the R side, but on the back-end WhiteboxTools side, when you try to read a raster that is not of the supported formats, you should receive and error that states, "Unrecognized raster type". What error did you receive?

[2022-05-13 15:50] #80 closed

[2022-05-13 15:51] brownag commented on #80
It recently came to my attention in another issue (https://github.com/giswqs/whiteboxR/issues/70) that there are are some issues with displaying the "thread main panicked" error messages on Windows. I hadn't noticed that some of error output was being omitted. I have revised the way the `system()` call error handling works so the tool outputs are printed in addition to the other diagnostics relate

[2022-05-13 16:27] brownag commented on #80
Another workaround that might be useful to know: you can run any tool with the `command_only=TRUE` argument to get the command string that would be run by `system()` in lieu of running it. If you then run that generated command in your terminal it will generally give you the verbose output (as `-v` flag is included). This is particularly helpful for debugging issues with formatting of command/flag

[2022-05-16 09:24] jacquomo opened #81 "wbt_generalize_classified_raster(): System command had status 101 error"
Hi, I am getting a 101 error when trying to use the wbt_generalize_classified_raster() tool in R4.0.2. I am running wrbt_majority_filter() and wbt_geomorphron() without issue. Any ideas what is going wrong?

E.g. code that throughs the 101 error:

r <-"./cod_grounds_geomorphron_100search_10deg_5tdist_masked.tif" #name of geomorphron output
wbt_generalize_classified_raster(
   r,
   "./cod_grounds_

[2022-05-16 23:24] jacquomo commented on #81
I am running the CRAN version. Just tried GitHub version as well. This is the error I get with either verison:

Error running WhiteboxTools (generalize_classified_raster)
  whitebox.exe_path: "C:/Users/jmonk1/Dropbox/My PC (DOM-IMA-FDDM353)/Documents/R/win-library/4.0/whitebox/WBT/whitebox_tools.exe"; File exists? TRUE
  Arguments: --run=generalize_classified_raster  --input="C:/temp1/test.tif" --

[2022-05-16 23:30] brownag commented on #81
Ah. Sorry about that, I should have checked this when I responded earlier. The key part of the error is this: 'Unrecognized tool name generalize_classified_raster'

Unfortunately the `generalized_classified_raster` tool is not part of the WhiteboxTools open core. It is part of an extension product. See more details on the manual page. https://www.whiteboxgeo.com/manual/wbt_book/available_tools/ima

[2022-05-16 23:32] jacquomo commented on #81
Ah, that makes sense. Thanks for looking into it for me.

[2022-05-17 23:52] jacquomo commented on #81
I have purchased a license for the extension and have it running through the WB runner, but is giving the same error from within R. Any pointers?

[2022-05-18 00:13] brownag commented on #81
I believe that you will need to have the extension unzipped to a subfolder of your WhiteboxTools installation directory called `/plugins/` in order for it to be recognized. You have a couple options

Either you can set your WhiteboxTools executable path to match the same one that the WB runner is using, the plugins should be installed there if you used `wbt.wbt_install_extensions()`. To set your E

[2022-05-18 00:36] jacquomo commented on #81
Thanks. I have a play. You should get them, they are pretty amazing tools. Like all the WBT, they run sooooo fast which is great for iterating settings.

[2022-05-18 15:21] brownag commented on #81
@jacquomo Great. I believe https://github.com/giswqs/whiteboxR/commit/d85b0639bd67cc8e1f8064d4ef966b96a51e88e2 was what we needed to get this working in R--so if you can please try with latest GH version

[2022-05-18 20:47] jwilliamrozelle commented on #80
Apologies! Didn't check this for a bit.

@brownag, that's helpful to know!

@jblindsay, if helpful, I can rerun and paste the output.

[2022-05-25 15:43] megalulu opened #82 "TimeInDaylight not working on a full DSM tile"
Hello,
I am using the whitebox tool Time In Daylight with a digital surface model tile located in Quebec. I need to know where shading from overhanging vegetation on a river occurs when the sun is at it's heightest point in the sky(about 11h45) on the longest day (june 21st).  I am running the algorithm through the terminal on a windows computer.
The parameters I am using are :
input = DEM tile (p

[2022-05-25 15:53] brownag commented on #82
Hi Meghana,

It would be helpful if you could provide the tile or the minimal amount of a tile to reproduce the problem. Does the tool make any additional output in terminal? How large is the full file?

Also, this is probably not related to the WhiteboxTools R frontend (https://github.com/giswqs/whiteboxR) if you are encountering the problem while running whitebox from the terminal. It would be b

[2022-05-25 19:27] megalulu commented on #82
Hello Andrew,

Thanks for your response. I will post the problem in the right github issues page with the tile in quesiton.

Meghana

[2022-05-25 20:09] #82 closed

[2022-05-25 23:34] jacquomo commented on #81
@brownag sorry for the delayed testing of this. Running fine now. Thanks for implementing the fixes.

[2022-05-25 23:38] brownag commented on #81
No worries! Thanks for reporting the issue and testing the fixes

[2022-05-25 23:38] #81 closed

[2022-07-07 14:45] Caroline120 opened #83 "issues interactive interpolation map in Shiny r Using IDW"
Please I am trying to generate an interactive map, but I am having issues with my code

 Output.Areas1
class       : SpatialPolygonsDataFrame
features    : 3
extent      : -1.651392, -1.635499, 7.3755, 7.392614  (xmin, xmax, ymin, ymax)
crs         : +proj=longlat +datum=WGS84 +no_defs
variables   : 29
names       : Id,  Crop, Area,        NAME, SEX, AGE,      CONTACT,      COMMUNITY,       DISTRI

[2022-07-07 14:46] Caroline120 opened #84 "issues interactive interpolation map in Shiny r Using IDW"
(ui = ui, server = server)

[2022-07-07 15:18] brownag commented on #84
Closing; duplicate of #83

[2022-07-07 15:18] #84 closed, assigned to nobody

[2022-07-07 15:23] brownag commented on #83
Hi there. This issue tracker is for the "whitebox" R package. It does not appear that your code uses whitebox.

I would suggest seeking help in the R section of StackOverflow e.g. https://stackoverflow.com/questions/tagged/r. Without a reproducible example (including sample data) folks will have limited ability to help you. It's not immediately clear whether the images you included are output or d

[2022-08-10 09:52] wiesehahn opened #85 "working with compressed data and predictors"
I tried to run `wbt_feature_preserving_smoothing()` on a raster which was compressed by DEFLATE with Predictor = 2
(e.g. by `terra::writeRaster(dem, "dem.tif", gdal=c("COMPRESS=DEFLATE", "PREDICTOR=2"))`.

I get a result but just for some pixels at the border and hence its not usable.

When I try to run it on a raster with Predictor = 3, I receive `Reading data...
thread 'main' panicked at 'The Ge

[2022-08-10 11:01] wiesehahn commented on #69
After long time I wanted to test this, but I am struggling with the installation.

After `remotes::install_github("brownag/whiteboxR@wbtTool")` WhiteboxTools can not be found by `library(whitebox)` and maunally pointing towards the recently created folder by `wbt_init(exe_path="C:/Program Files/R/R-4.1.3/library/whitebox")` results in `Error in system(exeargs, intern = TRUE, ignore.stderr = ignore

[2022-08-10 12:42] giswqs commented on #85
@wiesehahn whiteboxR is just a frontend wapper of [WhiteboxTools](https://github.com/jblindsay/whitebox-tools). As long as the R function runs and produces results, then it is not a whiteboxR problem. WBT does not support all kinds of GeoTIFFs. I would suggest converting your input to a non-compressed GeoTIFF. If you are still experiencing issues, then I would suggest you open an issue on the WBT

[2022-08-10 12:42] #85 closed

[2022-08-10 15:17] brownag commented on #85
See response in https://github.com/giswqs/whiteboxR/issues/71 for some links to similar issues on the main whitebox-tools repo

[2022-08-10 15:26] brownag commented on #69
wbt_init() should be passed the full path to the executable, not the parent folder.

When you run `wbt_install()` with the default parameters for installation directory then the location will be `file.path(find.package('whitebox'), 'WBT', 'whitebox_tools.exe')`

---

`wbt()` allows you to pass references to R spatial objects (e.g. RasterLayer, SpatRaster).

When the objects inherit from one of the

[2022-11-29 11:51] ejjunju opened #89 "Error while runnig whitebox"
I have installed whitebox.
The exe is available and the initiation returns TRUE but running operations, even on test data gives an error.

+     dem = dem,
+     output = "./smoothed.tif",
+     filter = 9
+ )
feature_preserving_smoothing - Error in system(exeargs, intern = TRUE, ignore.stderr = ignore.stderr,  :
  'CreateProcess' failed to run 'C:\Users\ejj\AppData\Local\R\WIN-LI~1\4.2\whitebox\W